{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% translate "Shopping Cart" %}</h1>

<ul>
    {% for item in cart %}
    <li>
        {{ item.book.title }} — {{ item.quantity }} {% translate "pcs." %} — {{ item.total_price }} {% translate "UAH" %}
        <a href="{% url 'books:cart_remove' item.book.id %}">{% translate "Delete" %}</a>
    </li>
    {% empty %}
    <li>{% translate "Your cart is empty" %}</li>
    {% endfor %}
</ul>
<h3>{% translate "Total" %}: {{ cart.get_total_price }} {% translate "UAH" %}</h3>
{% if cart %}
<a href="{% url 'books:order_create' %}">{% translate "Checkout" %}</a>
{% endif %}
{% endblock %}